body {
    /*background-color: #3C3F41;*/
}

h1 {
    margin-top: 8vh;
    text-align: center;
    /*color: white;*/
    font-size: 9vh;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    /*color: white;*/
    font-size: 4vh;
}

#input {
    text-align: center;
    width: 50%;
    margin: auto;
}

.tweet {
    width: 75%;
    margin: 12vh auto auto;
}

#text-box {
    font-size: 5vh;
}

#success {
    display: none;
    width: 50%;
    margin: 8vh auto auto;
    text-align: center;
    font-size: 5vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

#close-success {
    padding-top: 26px;
    font-size: 5vh;
    padding-bottom: 20px;
}

#fail {
    display: none;
    width: 50%;
    margin: 8vh auto auto;
    text-align: center;
    font-size: 5vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

#close-fail {
    padding-top: 26px;
    font-size: 5vh;
    padding-bottom: 20px;
}

::-webkit-input-placeholder {
    text-align: center;
    line-height: 2.75;
}
:-moz-placeholder {
    text-align: center;
    line-height: 2.75;
}
::-moz-placeholder {
    text-align: center;
    line-height: 2.75;
}
:-ms-input-placeholder {
    text-align: center;
    line-height: 2.75;
}

#prog {
    width: 75%;
    margin: 4vh auto auto;
}

#bar {
    display: none;
}